# Mac ew
*.DS_Store

# Package-manager related
yarn.lock
npm-debug.log
node_modules
.npm

# Vim files (pls ppl configure swap/undo to home directory!)
*.swp
*.swo
*~

# Haste server production data
data
static/*.min.*

# Sensitive files
config.js
